In [20]:
import pandas as pd

df = pd.read_parquet('raw_allsnps_AD.parquet', engine = 'fastparquet') # all 1047 snps
#df_apoe = pd.read_parquet('raw_apoe_AD.parquet', engine = 'fastparquet') # apoe only
# df = pd.read_parquet('raw_unlinkedsnps_AD.parquet', engine = 'fastparquet') # 707 snps after LD

In [17]:
df = pd.read_csv('./unlinked_snps_AD.raw', sep = "\t")
df.head()

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs113020870_C,rs3927683_A,rs1697421_C,rs7529220_T,...,rs147991290_T,rs2838084_G,rs5754166_C,rs2097351_A,rs9607782_T,rs9607850_C,rs78179954_A,rs9614981_C,rs11913353_C,rs9616906_G
0,3733928,3733928,0,0,1,-9,2.0,1.0,1,1.0,...,2.0,2,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1
1,3607009,3607009,0,0,2,-9,2.0,0.0,1,0.0,...,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,2.0,2
2,2546462,2546462,0,0,2,-9,2.0,2.0,1,1.0,...,2.0,2,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2
3,4886993,4886993,0,0,2,-9,1.0,1.0,1,1.0,...,2.0,2,2.0,2.0,2.0,1.0,2.0,1.0,2.0,1
4,2409738,2409738,0,0,2,-9,2.0,0.0,1,1.0,...,2.0,2,2.0,1.0,2.0,1.0,2.0,1.0,2.0,2

In [5]:
df = pd.merge(df, df_apoe, on="IID")

In [6]:
df.head()

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs113020870_C,rs3927683_A,rs1697421_C,rs7529220_T,...,rs78179954_A,rs9614981_C,rs11913353_C,rs9616906_G,e3/e3,e2/e3,e3/e4,e2/e4,e4/e4,e2/e2
0,3733928,3733928,0,0,1,-9,2.0,1.0,1,1.0,...,2.0,2.0,2.0,1,0,0,1,0,0,0
1,3607009,3607009,0,0,2,-9,2.0,0.0,1,0.0,...,2.0,1.0,2.0,2,1,0,0,0,0,0
2,2546462,2546462,0,0,2,-9,2.0,2.0,1,1.0,...,2.0,1.0,2.0,2,1,0,0,0,0,0
3,4886993,4886993,0,0,2,-9,1.0,1.0,1,1.0,...,2.0,1.0,2.0,1,0,0,1,0,0,0
4,2409738,2409738,0,0,2,-9,2.0,0.0,1,1.0,...,2.0,1.0,2.0,2,1,0,0,0,0,0

In [21]:
df["e3/e3"] = 0
df["e3/e4"] = 0
df["e2/e3"] = 0
df["e2/e4"] = 0
df["e4/e4"] = 0
df["e2/e2"] = 0

df.loc[
    (df.rs429358_T == 2) & (df.rs7412_C == 2), "e3/e3"
] = 1
df.loc[
    (df.rs429358_T == 1) & (df.rs7412_C == 2), "e3/e4"
] = 1
df.loc[
    (df.rs429358_T == 2) & (df.rs7412_C == 1), "e2/e3"
] = 1
df.loc[
    (df.rs429358_T == 1) & (df.rs7412_C == 1), "e2/e4"
] = 1
df.loc[
    (df.rs429358_T == 0) & (df.rs7412_C == 2), "e4/e4"
] = 1
df.loc[
    (df.rs429358_T == 2) & (df.rs7412_C == 0), "e2/e2"
] = 1

In [9]:
import fastparquet

df_apoe = df.loc[:, ["IID", "e3/e3", "e2/e3", "e3/e4", "e2/e4", "e4/e4","e2/e2"]]
df_apoe.to_parquet('raw_apoe_AD.parquet', engine='fastparquet')

In [3]:
df = df.drop(columns = ["rs429358_T", "rs7412_C"])

In [22]:
import pandas as pd
ddf = pd.read_parquet('65up_sex.parquet', engine = 'fastparquet') # thresholding with field ID's
# ddf = pd.read_parquet('allcausedementia.parquet', engine = 'fastparquet')

In [19]:
ddf.to_parquet('allcausedementia.parquet', engine='fastparquet')

In [6]:
ddf.head()

,eid,40000-0.0,40000-1.0,40001-0.0,40001-1.0,40002-0.1,40002-0.2,40002-0.3,40002-0.4,40002-0.5,...,130838-0.0,130839-0.0,130840-0.0,130841-0.0,130842-0.0,130843-0.0,131036-0.0,131037-0.0,curr_age,31-0.0
0,1000019,NaT,NaT,None,None,None,None,None,None,None,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,66.0,0.0
1,1000022,NaT,NaT,None,None,None,None,None,None,None,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,66.0,1.0
2,1000035,NaT,NaT,None,None,None,None,None,None,None,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,74.0,1.0
3,1000054,NaT,NaT,None,None,None,None,None,None,None,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,71.0,0.0
4,1000063,NaT,NaT,None,None,None,None,None,None,None,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,70.0,1.0

In [23]:
# so i think the og needs to be filtered ??? based on ids
df = df[df['IID'].isin(ddf['eid'])] # filter

In [6]:
# add age and sex as features
df = df.merge(ddf[['eid','curr_age', '31-0.0']], right_on = 'eid', left_on = 'IID')
df = df.drop(columns=['eid'])
df = df.rename(columns={
    'curr_age': 'age',
    '31-0.0': 'sex'
})

In [10]:
df.head()

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs113020870_C,rs3927683_A,rs1697421_C,rs7529220_T,...,rs11913353_C,rs9616906_G,e3/e3,e2/e3,e3/e4,e2/e4,e4/e4,e2/e2,age,sex
0,4886993,4886993,0,0,2,-9,1.0,1.0,1,1.0,...,2.0,1,0,0,1,0,0,0,77.0,0.0
1,2409738,2409738,0,0,2,-9,2.0,0.0,1,1.0,...,2.0,2,1,0,0,0,0,0,68.0,0.0
2,1262998,1262998,0,0,1,-9,2.0,1.0,0,0.0,...,1.0,1,0,0,1,0,0,0,65.0,1.0
3,1285294,1285294,0,0,2,-9,2.0,1.0,1,0.0,...,2.0,2,1,0,0,0,0,0,70.0,0.0
4,1926013,1926013,0,0,2,-9,2.0,0.0,0,1.0,...,2.0,1,0,0,1,0,0,0,67.0,0.0

In [24]:
# only alzheimers
import numpy as np
import dementia_utils as dem
# pull cases
alz_eid, _, _ = dem.pull_dementia_cases(ddf, alzheimers_only = True) # a tuple of both_eid, date_df, exclude_df

dem_eid , _ , _ = dem.pull_dementia_cases(ddf, alzheimers_only = False) # a tuple of both_eid, date_df, exclude_df

# add an extra column to the df with whether the patient is a case (1) or control (0) or neither (2)
df['groups'] = 0 

# assign 2 to excluded patients
df.loc[df['IID'].isin(dem_eid), 'groups'] = 2.0

# assign 1 to alz patients 
df.loc[df['IID'].isin(alz_eid), 'groups'] = 1.0

# drop excluded
df = df[df.groups.isin([0, 1])]

df.groups.value_counts()

groups
0    300453
1      4249
Name: count, dtype: int64

In [10]:
# all demntias
dem_eid , _ , _ = dem.pull_dementia_cases(ddf, alzheimers_only = False) # a tuple of both_eid, date_df, exclude_df

# add an extra column to the df with whether the patient is a case (1) or control (0) or neither (2)
df['groups'] = 0 

# assign 2 to excluded patients
df.loc[df['IID'].isin(dem_eid), 'groups'] = 1.0

# drop excluded
df = df[df.groups.isin([0, 1])]

In [10]:
case = df[df.groups == 1]
case = case.iloc[:50, :]
case.shape

ctrl = df[df.groups == 0]
ctrl = ctrl.iloc[:50, :]
ctrl.shape

pracdf = pd.concat([case, ctrl])
pracdf.head()
# 2 df (case and control), concat

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs113020870_C,rs3927683_A,rs1697421_C,rs7529220_T,...,rs2097351_A,rs9607782_T,rs9607850_C,rs78179954_A,rs9614981_C,rs11913353_C,rs9616906_G,age,sex,groups
97,3324206,3324206,0,0,2,-9,2.0,1.0,1,0.0,...,1.0,2.0,1.0,1.0,1.0,2.0,1,76.0,0.0,1
155,2756205,2756205,0,0,1,-9,2.0,2.0,1,0.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2,82.0,1.0,1
179,5246574,5246574,0,0,1,-9,2.0,1.0,2,0.0,...,2.0,1.0,1.0,2.0,0.0,2.0,2,77.0,1.0,1
254,3327019,3327019,0,0,2,-9,2.0,0.0,2,1.0,...,1.0,2.0,2.0,2.0,NaN,2.0,2,66.0,0.0,1
265,2469582,2469582,0,0,2,-9,2.0,2.0,2,0.0,...,2.0,1.0,1.0,2.0,2.0,2.0,1,78.0,0.0,1

In [11]:
import argparse
import logging
import os
import sys
import joblib
from sklearn.model_selection import StratifiedKFold
from datetime import datetime

#nrows = 100
#ncol = 50
# defining x, y
#X = pracdf.drop(columns = ['IID', 'groups'])
#X = X.iloc[:nrows, :ncol]
#y = pracdf.values[:nrows, -1]

X = df.drop(columns = ['FID', 'IID', 'PAT', 'MAT', 'SEX', 'PHENOTYPE', 'groups'])
y = pracdf.values[:, -1]

print(X.shape)
print(y.shape)

results_dir = f"./results/65up"

# logging
logging.basicConfig(filename=f"{results_dir}/logging.txt", level=logging.INFO)
logging.info(
        "Running experiment %s with IDP index %d and fold index %d",
    )
logging.info("X shape: %s", X.shape)
logging.info("y shape: %s", y.shape)

(100, 50)
(100,)

In [12]:
def settings_automl(time_budget, metric, model):
    """
    Generate settings for an AutoML classification task.
    Parameters:
    time_budget (int): The time budget for the AutoML process in seconds.
    metric (str): The evaluation metric to be used (e.g., 'log_loss' 'accuracy', 'f1').
    model (str): The model to be used in the AutoML process (e.g., 'lrl1').
    region_index (int): The index of the region for logging purposes.
    Returns:
    dict: A dictionary containing the settings for the AutoML process.
    """
    automl_settings = {
            "task": "classification",
            "time_budget": time_budget,
            "metric": 'log_loss',
            "n_jobs": -1,
            "eval_method": "cv",
            "n_splits": 5,
            "early_stop": True,
            "log_training_metric": True,
            "model_history": True,
            "seed": 1234321,
            "estimator_list": [model],
    }

    return automl_settings

In [13]:
from flaml import AutoML

FLAML_TIME_BUDGET = 3600

# skf and ml
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=1234321)

logging.info(f"Starting the k-fold cross-validation")
for fold, (train_index, test_index) in enumerate(skf.split(X, y)):
    print('folds')
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]

    print('training')
    automl = AutoML()
    automl_settings = settings_automl(FLAML_TIME_BUDGET, metric="log_loss", model="lgbm")
    print(automl_settings)

/home/heq754/.conda/envs/lowpyAD/lib/python3.10/site-packages/xgboost/core.py:265: FutureWarning: Your system has an old version of glibc (< 2.28). We will stop supporting Linux distros with glibc older than 2.28 after **May 31, 2025**. Please upgrade to a recent Linux distro (with glibc 2.28+) to use future versions of XGBoost.
Note: You have installed the 'manylinux2014' variant of XGBoost. Certain features such as GPU algorithms or federated learning are not available. To use these features, please upgrade to a recent Linux distro with glibc 2.28+, and install the 'manylinux_2_28' variant.
  warnings.warn(

folds
training
{'task': 'classification', 'time_budget': 3600, 'metric': 'log_loss', 'n_jobs': -1, 'eval_method': 'cv', 'n_splits': 5, 'early_stop': True, 'log_training_metric': True, 'model_history': True, 'seed': 1234321, 'estimator_list': ['lgbm']}
folds
training
{'task': 'classification', 'time_budget': 3600, 'metric': 'log_loss', 'n_jobs': -1, 'eval_method': 'cv', 'n_splits': 5, 'early_stop': True, 'log_training_metric': True, 'model_history': True, 'seed': 1234321, 'estimator_list': ['lgbm']}
folds
training
{'task': 'classification', 'time_budget': 3600, 'metric': 'log_loss', 'n_jobs': -1, 'eval_method': 'cv', 'n_splits': 5, 'early_stop': True, 'log_training_metric': True, 'model_history': True, 'seed': 1234321, 'estimator_list': ['lgbm']}
folds
training
{'task': 'classification', 'time_budget': 3600, 'metric': 'log_loss', 'n_jobs': -1, 'eval_method': 'cv', 'n_splits': 5, 'early_stop': True, 'log_training_metric': True, 'model_history': True, 'seed': 1234321, 'estimator_list': ['lgbm']}
folds
training
{'task': 'classification', 'time_budget': 3600, 'metric': 'log_loss', 'n_jobs': -1, 'eval_method': 'cv', 'n_splits': 5, 'early_stop': True, 'log_training_metric': True, 'model_history': True, 'seed': 1234321, 'estimator_list': ['lgbm']}

In [13]:
print(y_train)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0.]

In [14]:
logging.info(f"Saving the model: {datetime.now().time()}")

#automl.fit(X_train, y_train, **automl_settings)
automl.fit(X_train, y_train, model_history = False)

# save the model
best_model = automl.model.estimator

# Save just the best model
joblib.dump(best_model, f"{results_dir}/flaml_best_model.joblib")

logging.info(f"Saving the predictions: {datetime.now().time()}")
# save the test set predictions
y_pred = automl.predict_proba(X_test)
results = pd.DataFrame({"y_test": y_test, "y_pred": y_pred[:,1]})
results.to_parquet(
    f"{results_dir}/test_labels_predictions.parquet", index=False
)

# save the train set predictions
y_pred = automl.predict_proba(X_train)
results = pd.DataFrame({"y_train": y_train, "y_pred": y_pred[:,1]})
results.to_parquet(
    f"{results_dir}/train_labels_predictions.parquet", index=False
)

[flaml.automl.logger: 06-20 11:07:28] {1752} INFO - task = classification
[flaml.automl.logger: 06-20 11:07:28] {1763} INFO - Evaluation method: cv
[flaml.automl.logger: 06-20 11:07:28] {1862} INFO - Minimizing error metric: 1-roc_auc
[flaml.automl.logger: 06-20 11:07:28] {1885} WARNING - No search budget is provided via time_budget or max_iter. Training only one model per estimator. Zero-shot AutoML is used for certain tasks and estimators. To tune hyperparameters for each estimator, please provide budget either via time_budget or max_iter.

[flaml.automl.logger: 06-20 11:07:28] {1979} INFO - List of ML learners in AutoML Run: ['rf', 'lgbm', 'xgboost', 'extra_tree', 'xgb_limitdepth', 'sgd', 'lrl1']
[flaml.automl.logger: 06-20 11:07:28] {2282} INFO - iteration 0, current learner rf
[flaml.automl.logger: 06-20 11:07:28] {2417} INFO - Estimated sufficient time budget=10000s. Estimated necessary time budget=10s.
[flaml.automl.logger: 06-20 11:07:28] {2466} INFO -  at 0.5s,	estimator rf's best error=0.6687,	best estimator rf's best error=0.6687
[flaml.automl.logger: 06-20 11:07:28] {2282} INFO - iteration 1, current learner lgbm
[flaml.automl.logger: 06-20 11:07:29] {2466} INFO -  at 0.9s,	estimator lgbm's best error=0.6219,	best estimator lgbm's best error=0.6219
[flaml.automl.logger: 06-20 11:07:29] {2282} INFO - iteration 2, current learner xgboost
[flaml.automl.logger: 06-20 11:07:30] {2466} INFO -  at 2.0s,	estimator xgboost's best error=0.6375,	best estimator lgbm's best error=0.6219
[flaml.automl.logger: 06-20 11:07:30] {2282} INFO - iteration 3, current learner extra_tree
[flaml.automl.logger: 06-20 11:07:38] {2466} INFO -  at 10.6s,	estimator extra_tree's best error=0.6406,	best estimator lgbm's best error=0.6219
[flaml.automl.logger: 06-20 11:07:38] {2282} INFO - iteration 4, current learner xgb_limitdepth
[flaml.automl.logger: 06-20 11:07:44] {2466} INFO -  at 16.6s,	estimator xgb_limitdepth's best error=0.6625,	best estimator lgbm's best error=0.6219
[flaml.automl.logger: 06-20 11:07:44] {2282} INFO - iteration 5, current learner sgd
[flaml.automl.logger: 06-20 11:07:44] {2466} INFO -  at 16.6s,	estimator sgd's best error=0.5875,	best estimator sgd's best error=0.5875
[flaml.automl.logger: 06-20 11:07:44] {2282} INFO - iteration 6, current learner lrl1
[flaml.automl.logger: 06-20 11:07:44] {2466} INFO -  at 16.7s,	estimator lrl1's best error=0.5312,	best estimator lrl1's best error=0.5312
[flaml.automl.logger: 06-20 11:07:44] {2724} INFO - retrain lrl1 for 0.0s
[flaml.automl.logger: 06-20 11:07:44] {2727} INFO - retrained model: LogisticRegression(C=np.float64(1.0), n_jobs=-1, penalty='l1', solver='saga')
[flaml.automl.logger: 06-20 11:07:44] {2009} INFO - fit succeeded
[flaml.automl.logger: 06-20 11:07:44] {2010} INFO - Time taken to find the best model: 16.718449115753174

In [16]:
y_pred

array([[0.49483156, 0.50516844],
       [0.49376128, 0.50623872],
       [0.49536901, 0.50463099],
       [0.49109879, 0.50890121],
       [0.49064307, 0.50935693],
       [0.48996211, 0.51003789],
       [0.49131813, 0.50868187],
       [0.495631  , 0.504369  ],
       [0.48889029, 0.51110971],
       [0.49253778, 0.50746222],
       [0.49020874, 0.50979126],
       [0.48900105, 0.51099895],
       [0.49407073, 0.50592927],
       [0.49428818, 0.50571182],
       [0.49167639, 0.50832361],
       [0.49060359, 0.50939641],
       [0.49660627, 0.50339373],
       [0.49266923, 0.50733077],
       [0.49303849, 0.50696151],
       [0.49703582, 0.50296418],
       [0.49057012, 0.50942988],
       [0.49522955, 0.50477045],
       [0.49468191, 0.50531809],
       [0.49708133, 0.50291867],
       [0.49234908, 0.50765092],
       [0.4972212 , 0.5027788 ],
       [0.49369171, 0.50630829],
       [0.49008869, 0.50991131],
       [0.4912829 , 0.5087171 ],
       [0.4897091 , 0.5102909 ],
       [0.4910948 , 0.5089052 ],
       [0.49131721, 0.50868279],
       [0.49262278, 0.50737722],
       [0.49675285, 0.50324715],
       [0.49172434, 0.50827566],
       [0.49499042, 0.50500958],
       [0.49504919, 0.50495081],
       [0.49066801, 0.50933199],
       [0.49068843, 0.50931157],
       [0.49585114, 0.50414886],
       [0.49083661, 0.50916339],
       [0.49548122, 0.50451878],
       [0.49763156, 0.50236844],
       [0.49638827, 0.50361173],
       [0.49551085, 0.50448915],
       [0.49309132, 0.50690868],
       [0.48956865, 0.51043135],
       [0.48898627, 0.51101373],
       [0.49403868, 0.50596132],
       [0.49398909, 0.50601091],
       [0.49419863, 0.50580137],
       [0.49088396, 0.50911604],
       [0.49472328, 0.50527672],
       [0.49662775, 0.50337225],
       [0.49102343, 0.50897657],
       [0.49689525, 0.50310475],
       [0.49377078, 0.50622922],
       [0.49304423, 0.50695577],
       [0.48947134, 0.51052866],
       [0.48921084, 0.51078916],
       [0.49145761, 0.50854239],
       [0.49270321, 0.50729679],
       [0.48940207, 0.51059793],
       [0.49262338, 0.50737662],
       [0.49673678, 0.50326322],
       [0.49531935, 0.50468065],
       [0.49592505, 0.50407495],
       [0.49239231, 0.50760769],
       [0.48922438, 0.51077562],
       [0.49375375, 0.50624625],
       [0.49189082, 0.50810918],
       [0.49448274, 0.50551726],
       [0.49234973, 0.50765027],
       [0.49331819, 0.50668181],
       [0.49348204, 0.50651796],
       [0.49598088, 0.50401912],
       [0.49031265, 0.50968735],
       [0.49580464, 0.50419536],
       [0.4890737 , 0.5109263 ],
       [0.49310261, 0.50689739]])

In [36]:
test_df = pd.read_parquet('./results/test_labels_predictions.parquet', engine = 'fastparquet')
train_df = pd.read_parquet('./results/train_labels_predictions.parquet', engine = 'fastparquet')

test_df
train_df

    y_train    y_pred
0       1.0  0.505169
1       1.0  0.506239
2       1.0  0.504631
3       1.0  0.508901
4       1.0  0.509357
..      ...       ...
75      0.0  0.504019
76      0.0  0.509688
77      0.0  0.504195
78      0.0  0.510927
79      0.0  0.506898

[80 rows x 2 columns]